.user-info {
    margin-bottom: 20px;
  }
  
  .modal {
    top: 60px;
    right: 100px;
    z-index: 2000;
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .dark label{
     color: #fff;
  }

  .dark .h1{
     color: #fff;
  }

  .dark .container{
    background-color: #333;
    color: #fff;
  }


  .modal h2 {
    display: inline;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }